<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Raspator</title>
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="shortcut icon" href='{% static "favicon.ico" %}' type="image/x-icon">
    <link rel="icon" href='{% static "favicon.ico" %}' type="image/x-icon">
    <link rel="stylesheet" href='{% static "css/app.css" %}'>
    <link href='{% static "css/bootstrap4-toggle.min.css" %}' rel="stylesheet">
    <meta property="og:url"                content="https://raspator.ddns.net" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Rasp" />
    <meta property="og:description"        content="Rasp" />
    <meta property="og:image"              content="https://raspator.ddns.net/static/raclette_raw.jpg" />
    <meta property="og:site_name"          content="raspator.ddns.net"/>
</head>