{% include "header.html" %}
{% load static %}
<body>
    <div id="container" style="margin-bottom: 30px;"></div>
    <div id="container2" style="margin-bottom: 30px;"></div>
    <div id="container3" style="margin-bottom: 30px;"></div>
    <div id="container4" style="margin-bottom: 30px;"></div>
    <div id="container5" style="text-align:center;">
        <p style="text-align:center;">Live Photo</p>
        <img src="/static/image_last/last.jpg" alt="Live photo" style="height:600px;margin-bottom: 50px;">
    </div>

<script>
function createChart() {
    Highcharts.chart('container', {
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Temperature'
        },
        yAxis: [{
            labels: {
                format: '{value}°C',
                style: {
                    color: Highcharts.getOptions().colors[0]
                },
            },
            title: {
                text: 'Temperature',
                style: {
                    color: Highcharts.getOptions().colors[0]
                },
            },
            plotBands: [{
                from: 0,
                to: 20,
                color: 'rgba(68, 170, 213, 0.1)',
                label: {
                    text: 'Take un pull',
                    style: {
                        color: '#606060'
                    }
                }
            }, {
                from: 20,
                to: 35,
                color: 'rgba(34,139,34, 0.1)',
                label: {
                    text: 'Take un tshirt',
                    style: {
                        color: '#606060'
                    }
                }
            }, {
                from: 35,
                to: 100,
                color: 'rgba(255,165,0, 0.1)',
                label: {
                    text: 'Take rien',
                    style: {
                        color: '#606060'
                    }
                }
            }],
            opposite: false

        }],
        tooltip: {
            formatter: function(d) {
                return '<span style="color:' + Highcharts.getOptions().colors[0] + '">\u25CF</span> Date: <b> ' + Highcharts.dateFormat('%e %b %Y, %H:%M', new Date(this.x)) + '</b><br/><span style="color:' + Highcharts.getOptions().colors[0] + '">\u25CF</span> Temperature: <b> ' + this.y + '°C</b><br/>';
            }
        },
        legend: {
            enabled: false,
        },
        series: [{
            name: 'Temperature',
            color: Highcharts.getOptions().colors[0],

        }],
        plotOptions: {
            series: {
                marker: {
                    enabled: false
                }
            }
        },
        data: {
            csvURL: "https://raspator.ddns.net/static/data/weather_temp.csv",
            enablePolling: true,
            dataRefreshRate: 60 * 5
        },
        credits: {
            enabled: false
        },
    });

}

function createChart2() {
    Highcharts.chart('container2', {
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Humidity'
        },
        yAxis: [{
            labels: {
                format: '{value}%',
                style: {
                    color: Highcharts.getOptions().colors[1]
                },
            },
            title: {
                text: 'Humidity',
                style: {
                    color: Highcharts.getOptions().colors[1]
                },
            },
            opposite: false

        }],
        tooltip: {
            formatter: function(d) {
                return '<span style="color:' + Highcharts.getOptions().colors[1] + '">\u25CF</span> Date: <b> ' + Highcharts.dateFormat('%e %b %Y, %H:%M', new Date(this.x)) + '</b><br/><span style="color:' + Highcharts.getOptions().colors[1] + '">\u25CF</span> Humidity: <b> ' + this.y + '%</b><br/>';
            }
        },
        legend: {
            enabled: false,
        },
        series: [{
            name: 'Humidity',
            color: Highcharts.getOptions().colors[1],

        }],
        plotOptions: {
            series: {
                marker: {
                    enabled: false
                }
            }
        },
        data: {
            csvURL: "https://raspator.ddns.net/static/data/weather_humidity.csv",
            enablePolling: true,
            dataRefreshRate: 60 * 5
        },
        credits: {
            enabled: false
        },
    });

}

function createChart3() {
    Highcharts.chart('container3', {
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Temperature interior'
        },
        yAxis: [{
            labels: {
                format: '{value}°C',
                style: {
                    color: Highcharts.getOptions().colors[3]
                },
            },
            title: {
                text: 'Temperature interior',
                style: {
                    color: Highcharts.getOptions().colors[3]
                },
            },
            opposite: false

        }],
        tooltip: {
            formatter: function(d) {
                return '<span style="color:' + Highcharts.getOptions().colors[3] + '">\u25CF</span> Date: <b> ' + Highcharts.dateFormat('%e %b %Y, %H:%M', new Date(this.x)) + '</b><br/><span style="color:' + Highcharts.getOptions().colors[3] + '">\u25CF</span> Temperature interior: <b> ' + this.y + '°C</b><br/>';
            }
        },
        legend: {
            enabled: false,
        },
        series: [{
            name: 'Temperature interior',
            color: Highcharts.getOptions().colors[3],

        }],
        plotOptions: {
            series: {
                marker: {
                    enabled: false
                }
            }
        },
        data: {
            csvURL: "https://raspator.ddns.net/static/data/therm_inside.csv",
            enablePolling: true,
            dataRefreshRate: 60 * 5
        },
        credits: {
            enabled: false
        },
    });

}

function createChart4() {
    Highcharts.chart('container4', {
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Luminosity'
        },
        yAxis: {
            labels: {
                format: '{value}',
                style: {
                    color: Highcharts.getOptions().colors[4]
                },
            },
            title: {
                text: 'Luminosity',
                style: {
                    color: Highcharts.getOptions().colors[4]
                },
            },
            opposite: false,
            max: 255,
            min: 0,
            startOnTick: false,
            endOnTick: false,

        },
        tooltip: {
            formatter: function(d) {
                return '<span style="color:' + Highcharts.getOptions().colors[4] + '">\u25CF</span> Date: <b> ' + Highcharts.dateFormat('%e %b %Y, %H:%M', new Date(this.x)) + '</b><br/><span style="color:' + Highcharts.getOptions().colors[4] + '">\u25CF</span> Luminosity: <b> ' + this.y + '</b><br/>';
            }
        },
        legend: {
            enabled: false,
        },
        series: [{
            name: 'Luminosity',
            zones: [{
                value: 50,
                color: '#1642BF'
            }, {
                value: 100,
                color: '#116DD2'
            }, {
                value: 200,
                color: '#F0B400'
            }, {
                value: 251,
                color: '#FCCA0C'
            }],

        }],
        plotOptions: {
        series: {
            marker: {
                    enabled: false
                }
            }
        },
        data: {
            csvURL: "https://raspator.ddns.net/static/data/photo.csv",
            enablePolling: true,
            dataRefreshRate: 60 * 5
        },
        credits: {
            enabled: false
        },
    });

}

createChart();
createChart2();
createChart3();
createChart4();
</script>
</body>
{% include "footer.html" %}