{% include "header.html" %}
{% load static %}
<body>
    <div id="container"></div>
    <div id="container2"></div>

<script>
function createChart() {
  Highcharts.chart('container', {
    chart: {
      type: 'spline'
    },
    title: {
      text: 'Temperature'
    },
    yAxis: [{
      labels: {
        format: '{value}°C',
        style: {
          color: Highcharts.getOptions().colors[0]
        },
      },
      title: {
        text: 'Temperature',
        style: {
          color: Highcharts.getOptions().colors[0]
        },
      },
      opposite: false

    }],
    tooltip: {
        formatter: function(d){
            return '<span style="color:'+Highcharts.getOptions().colors[0]+'">\u25CF</span> Temperature: <b> ' + this.y + '°C</b><br/>';
        }
    },
    legend: {
      enabled: false,
    },
    series: [{
      name: 'Temperature',
      color: Highcharts.getOptions().colors[0],

    }],
    data: {
      csvURL: "https://raspator.ddns.net/static/data/weather_temp.csv",
      enablePolling: true,
      dataRefreshRate: 5
    }
  });

}

function createChart2() {
  Highcharts.chart('container2', {
    chart: {
      type: 'spline'
    },
    title: {
      text: 'Humidity'
    },
    yAxis: [{
      labels: {
        format: '{value}%',
        style: {
          color: Highcharts.getOptions().colors[1]
        },
      },
      title: {
        text: 'Humidity',
        style: {
          color: Highcharts.getOptions().colors[1]
        },
      },
      opposite: false

    }],
    tooltip: {
        formatter: function(d){
            return '<span style="color:'+Highcharts.getOptions().colors[1]+'">\u25CF</span> Humidity: <b> ' + this.y + '%</b><br/>';
        }
    },
    legend: {
      enabled: false,
    },
    series: [{
      name: 'Humidity',
      color: Highcharts.getOptions().colors[1],

    }],
    data: {
      csvURL: "https://raspator.ddns.net/static/data/weather_humidity.csv",
      enablePolling: true,
      dataRefreshRate: 5
    }
  });

}

createChart();
createChart2();
</script>
</body>
{% include "footer.html" %}